

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    *{
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 22px;
        letter-spacing: 2px;
        list-style: none;
    }
    
    .container{
        position: relative;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: white;
        padding: 30px;
        border: 30px solid greenyellow;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.3);
        label{
            width: 100%;
            text-align: left;
        }
        input {
            width: 100%;
            border: none;
            border-bottom: 5px solid green ;
            padding: 10px;
            &:active {
                border: none;
            }
            &:focus {
                outline: none;
            }
        }
        h1{
            text-align: center;
            font-size: 40px;
        }
        &__btnContainer{
            width: 100%;
            
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            &__btn{
                border: 5px solid green;
                border-radius: 10px;
                color: green;
                box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
                padding: 10px;
                font-size: 16px;
                &:hover{
                    background-color: darkgreen;
                    color: white;
                    transform: scale(1.01);
                    cursor: pointer;
                }
            }
        }
        div {
            width: 100%;
            ul{
                width: 100%;
                h2{
                    text-align: left;
                }
                li {
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        } 
        .hidden{
            display: none;
        }
    }
    
}